@charset "utf-8";

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
}

#content { min-width: 1200px; }

#content > div {
	width: 1200px;
	margin: auto;
}

#content .adm-header {
	height: 80px;
	margin-bottom: 15px;
}

#content h1 { 
	float: left; 
	font-size: 30px;
}

#content .adm {	float: right; }

#content .adm > div { padding-top: 10px; }

#content .input-group {	width: 300px; }

.tab-panel {
	width: auto;
	border-top: 2px solid black;
}

td {
	text-align: center;
}