<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="GalleryMapper">

    <!-- Beans 클래스의 객체이름(id)과 클래스이름(type)을 명시한다. -->
    <resultMap id="galleryMap"
        type="project.star.b2.model.Gallery">
        <!-- Beans의 멤버변수(property)이름과 대상 테이블의 컬럼(column)을 연결한다. -->
        <result property="roomno" column="roomno" />
        <result property="roomtype" column="roomtype" />
        <result property="title" column="title" />
        <result property="floor" column="floor" />
        <result property="area" column="area" />
        <result property="fee" column="fee" />
        <result property="confirmdate" column="confirmdate" />
        <result property="priceno" column="priceno" />
        <result property="deposit" column="deposit" />
        <result property="dealingtype" column="dealingtype" />
        <result property="price" column="price" />
    </resultMap>
    
    <!-- 갤러리용 다중행 조회를 위한 기능 정의 -->
    <select id="selectList"
        parameterType="project.star.b2.model.Gallery"
        resultMap="galleryMap">
		SELECT 
		r.roomno, roomtype, title, floor, area, fee, DATE_FORMAT(confirmdate, '%Y.%m.%d') AS confirmdate, dealingtype, deposit, price
		FROM room AS r 
		INNER JOIN price AS p 
		ON r.roomno=p.roomno 
		GROUP BY roomno 
		ORDER BY roomno DESC 
		<if test="listCount > 0">
			LIMIT #{offset}, #{listCount}
		</if>
    </select>
    
    <!--
        조건에 맞는 데이터 수를 집계하여 int 타입으로 반환한다.
        count, max, min, sum, avg 함수를 사용한 경우 Mapper에서는
        resultMap이 아닌 resultType으로 반환한다.
    -->
	<select id="selectCountAll" 
			parameterType="project.star.b2.model.Gallery"
			resultType="int">
		SELECT COUNT(*) FROM room;
	</select>

</mapper>