@charset "utf-8";

/* ---------------------------------------
/ content
---------------------------------------- */

/* ---------------------------------------
/ 검색창 
---------------------------------------- */
#search {
	width: auto;
	height: 430px;
	margin: auto;
	padding: 115px 0 113px 0;
}

/* 글씨 */
#search p, #search span {
	font-size: 46px;
	font-weight: 300;
	line-height: 58px;
	text-align: center;
	letter-spacing: -0.8px;
	margin: 0;
}

#search span {
	color: rgb(21, 100, 249);
}

#search form div {
	width: 800px;
	height: 60px;
	background-color: rgb(255, 255, 255);
	position: relative;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(208, 210, 214);
	border-image: initial;
	margin: 0 auto;
	margin-top: 28px;
}

#search form div i {
	position: absolute;
	top: 50%;
	left: 20px;
	transform: translateY(-50%);
}

#search form div button {
	width: 95px;
	height: 48px;
	color: rgb(255, 255, 255);
	font-size: 16px;
	line-height: 35px;
	letter-spacing: -0.3px;
	background-color: rgb(19, 116, 248);
	position: absolute;
	top: 50%;
	right: 6px;
	transform: translateY(-50%);
	outline: none;
}

#search input {
	display: inline-block;
	width: 636px;
	height: 30px;
	color: rgb(34, 34, 34);
	font-size: 20px;
	margin: 14px 110px 14px 54px;
	padding: 0px 20px;
	border-width: 0px 0px 0px 1px;
	border-image: initial;
	border-left: 1px solid rgb(221, 221, 221);
	outline: none;
}
/*      #search input:focus { outline : 1px solid #1374F8; }*/


/* ---------------------------------------
/	쉬운방찾기
---------------------------------------- */

/* main */
#easyfind {
	width: 1180px;
	height: 420px;
	border-top: 1px solid #eee;
	margin: 0 auto;
}

/* 박스1 - 글씨 */
.easy-box1 {
	margin-top: 60px;
}

/* 글씨 */
.easy-box1>span {
	display: inline-block;
	width: 100%;
	color: rgb(34, 34, 34);
	font-size: 25px;
	font-weight: 500;
	line-height: 37px;
}

.easy-box1>p {
	display: block;
	color: rgb(102, 102, 102);
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
}

/* 슬라이드 div(1) */
.slide-div1 {
	width: 100%;
	/*height: 172px;*/
	margin-top: 26px;
	position: relative;
}

/* 슬라이드 div(1)-(2) */
.slide-div2 {
	width: 100%;
	height: 100%;
	position: relative;
	/*overflow: hidden;*/
}

/* 슬라이드 div(1)-(2)-(3) */
.slide-div3 {
	width: 1777px;
	height: 172px;
	position: relative;
	transition: right 300ms ease-out 0s;
}

/* 슬라이드div(3)-<a> 갤러리 하나 링크 */
.slide-a {
	float: left;
	width: 185px;
	height: 172px;
}

.slide-a+a {
	margin-left: 14px;
}

/* 슬라이드 <a>-div(4) 링크 내부 부모박스 */
.slide-a-div1 {
	width: 185px;
	height: 172px;
	background-color: rgb(255, 255, 255);
	border-radius: 5px;
}

/* 슬라이드 <a>-div(4)-(5) 링크 내부 사진 박스 (위) */
.slide-a-div1-up1 {
	width: 100%;
	height: 100px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	background: url(ma_img/main/slide1.png) center center/cover no-repeat;
}

.slide-a-div1-up2 {
	background: url(ma_img/main/slide2.png) center center/cover no-repeat;
	width: 100%;
	height: 100px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.slide-a-div1-up3 {
	background: url(ma_img/main/slide3.png) center center/cover no-repeat;
	width: 100%;
	height: 100px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.slide-a-div1-up4 {
	background: url(ma_img/main/slide4.png) center center/cover no-repeat;
	width: 100%;
	height: 100px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.slide-a-div1-up5 {
	background: url(ma_img/main/slide5.png) center center/cover no-repeat;
	width: 100%;
	height: 100px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.slide-a-div1-up6 {
	background: url(ma_img/main/slide6.png) center center/cover no-repeat;
	width: 100%;
	height: 100px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.slide-a-div1-up7 {
	background: url(ma_img/main/slide7.png) center center/cover no-repeat;
	width: 100%;
	height: 100px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.slide-a-div1-up8 {
	background: url(ma_img/main/slide8.png) center center/cover no-repeat;
	width: 100%;
	height: 100px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.slide-a-div1-up9 {
	background: url(ma_img/main/slide9.png) center center/cover no-repeat;
	width: 100%;
	height: 100px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

/* 슬라이드 <a>-div(4)-(5) 링크 내부 텍스트 박스 (아래) */
.slide-a-div1-down {
	width: 100%;
	height: 72px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 14px;
	border-left: 1px solid rgb(238, 238, 238);
	border-right: 1px solid rgb(238, 238, 238);
	border-bottom: 1px solid rgb(238, 238, 238);
}

.slide-a-div1-down > p {
	height: 21px;
	line-height: 21px;
	color: #444;
	fontsize: 15px;
}

/* 갤러리 슬라이드 " > " <button>  */
.slide-button {
	width: 40px;
	height: 40px;
	box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 3px 1px;
	background-color: rgb(255, 255, 255);
	position: absolute;
	top: 50%;
	right: -20px;
	transform: translateY(-50%);
	z-index: 1;
	border-width: 0px;
	border-radius: 50%;
}

.slide-button>svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*  */
.slidepage-div {
	margin-top: 30px;
	font-size: 13px;
	font-weight: 700;
	text-align: center;
}

.slidepage-p1 {
	display: inline-block;
	height: 24px;
	margin-right: 24px;
	color: rgb(34, 34, 34);
	font-size: 13px;
	font-weight: 700;
	text-align: center;
	cursor: pointer;
	border-bottom: 2px solid rgb(34, 34, 34);
}

.slidepage-p2 {
	display: inline-block;
	height: 24px;
	margin-right: 24px;
	color: rgb(158, 156, 156);
	font-size: 13px;
	font-weight: 700;
	text-align: center;
	cursor: pointer;
	border-bottom: 2px solid transparent;
}

/* ---------------------------------------
/	인기매물
---------------------------------------- */

/* 전체박스 */
.pop-entire {
	margin: 0 auto;
	border-top: 1px solid rgb(235, 235, 235);
	height: 550px;
}

/* 두번째 전체박스 */
.pop-entire-d2 {
	width: 1180px;
	height: 520px;
	margin: 60px auto 0px;
}

.pop-title1 {
	padding: 0px 16px 0 0;
}

.pop-title1 > a {
	display: block;
	height: 36px;
	line-height: 36px;
	color: #222222;
	font-size: 25px;
	font-weight: 300;
	text-align: center;
	vertical-align: center;
}

.pop-title2 {
	height: 24px;
	line-height: 24px;
	font-size: 28px;
	font-weight: 300;
	cursor: pointer;
	padding: 0px 16px;
	color: #666;
	font-size: 16px;
	font-weight: 300;
	text-align: center;
	vertical-align: center;
}

/*  */
.pop-gallery-d {
	width: 1180px;
	height: 438px;
	margin-top: 30px;
}

/* 갤러리 박스 시작 */
/* 각 갤러리 하나 박스전체*/
.each-d1 {
	float: left;
	width: 280px;
	height: 321px;
	background-color: rgb(255, 255, 255);
	position: relative;
	border-radius: 5px;
}

/* 두번째부터 마진추가 */
.each-d1 + .each-d1 {
	margin-left: 20px;
}

/* 포지션 위한 엄마박스 -relative */
.each-d2 {
	height: 280px;
	position: relative;
}

/* <div>좋아요 자식박스 -absolute */
.recent-div7 {
	width: 36px;
	position: absolute;
	top: 3px;
	right: 7px;
	z-index: 1;
	cursor: pointer;
}
/* <div>좋아요 - <div> */
.recent-div8 {
	width: 32px;
	height: 30px;
	margin: 0px auto;
	/* background: url(ma_img/like.svg) center center / cover; */
}

.recent-div8.off {
	background: url(ma_img/like.svg) center center/cover;
}

.recent-div8.on {
	background: url(ma_img/like-on.svg) center center/cover;
}

/* <a> 태그 */
.gallery-a {
	display: block;
}

/* 부트스트랩에 마진이 들어가있어서 <a> 부분만 초기화시켜주기 */
.gallery-a p {
	margin: 0px;
}

/* 글자에 호버가 들어가서 디버깅해야함 */
/*.recent-a:hover
{
                color:;
 }*/

/* <a> 태그 - <div>이미지 */
.gallery-pic {
	width: 100%;
	height: 186px;
	margin-bottom: 12px;
	background-color: rgb(239, 240, 242);
	position: relative;
	border-radius: 3px;
	overflow: hidden;
}

/* body태그에 이미지가 따로들어가있음 주의 @@*/
.gallery-pic:before {
	content: "";
	height: 100%;
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
}

.gallery-pic:after {
	content: "";
	height: 100%;
	background-color: rgba(0, 0, 0, 0.1);
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
}

.pic1:before { background: url(ma_img/main/3.jpeg) center center/cover no-repeat; }
.pic2:before { background: url(ma_img/main/4.jpeg) center center/cover no-repeat; }
.pic3:before { background: url(ma_img/main/5.jpeg) center center/cover no-repeat; }
.pic4:before { background: url(ma_img/main/6.jpeg) center center/cover no-repeat; }





/* <a>태그 - <div>확인매물 박스 */
.gallery-confirm {
	height: 21px;
	margin-bottom: 3px;
}

.gallery-confirm span {
	display: inline-block;
	color: rgb(50, 108, 249);
	font-size: 11px;
	white-space: nowrap;
	position: relative;
	bottom: 2px;
}

.bold {
	font-weight: 700;
}

/* <a>태그 - <div>확인매물 박스 - <div>인박스 */
.gallery-confirm-d {
	display: inline-block;
	height: 21px;
	line-height: 19px;
	vertical-align: top;
	padding: 0px 5px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(168, 193, 252);
	border-image: initial;
	border-radius: 2px;
}

/* <a>태그 - <p>방 종류 */
.gallery-p1 {
	width: 100%;
	color: rgb(102, 102, 102);
	font-size: 12px;
	font-weight: 300;
	line-height: 20px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

/* <a>태그 - <p>lent방식 / 금액 */
.gallery-p2 {
	color: rgb(34, 34, 34);
	font-size: 20px;
	font-weight: 700;
	line-height: 25px;
	margin: 3px 0px 6px !important;
}

/* <a>태그 - <p>lent방식 / 금액 - <span> */
.gallery-p2 span {
	vertical-align: middle;
}

/* <a>태그 - 3th, 4th <p> */
.gallery-p34 {
	width: 100%;
	color: rgb(102, 102, 102);
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}




/* ---------------------------------------
/ 최근본방
---------------------------------------- */

/* 최근 본 방 전체박스 */
.recent {
	margin: 0 auto;
	border-top: 1px solid rgb(235, 235, 235);
	height: 600px;
}

.recent-div0 {
	width: 1180px;
	height: 520px;
	margin: 80px auto 0px;
}

/* '최근본방' title 박스 */
.recent-div1 {
	border-right: 1px solid rgb(221, 221, 221);
	padding-left: 0px;
	display: inline-block;
	height: 25px;
	padding: 0px 16px 0 0;
}

/* '최근본방' title 글씨 */
.recent-div1 > a{
	line-height: 25px;
	color: #222222;
	font-size: 28px;
	font-weight: 300;
	text-align: left;
}

.recent-div2 {
	display: inline-block;
	height: 25px;
	padding: 0px 16px;
}

.recent-div2 > a{
	color: rgb(197, 197, 197);
	font-size: 28px;
	font-weight: 300;
	text-align: left;
	cursor: pointer;
}

.recent-div3 {
	display: block;
	height: 35px;
}

.recent-div3 span {
	color: rgb(102, 102, 102);
	font-size: 16px;
	font-weight: 300;
	line-height: 35px;
	text-align: left;
}

.recent-div4 {
	width: 1180px;
	height: 438px;
	margin-top: 20px;
}

/* 갤러리 박스 시작 */
/*박스전체*/
.recent-div5 {
	float: left;
	width: 280px;
	height: 321px;
	background-color: rgb(255, 255, 255);
	position: relative;
	border-radius: 5px;
}

/* 두번째부터 마진추가 */
.margin {
	margin-left: 20px;
}

/* 좋아요를 위한 엄마박스 -relative */
.recent-div6 {
	height: 280px;
	position: relative;
}

/* <div>좋아요 자식박스 -absolute */
.recent-div7 {
	width: 36px;
	position: absolute;
	top: 3px;
	right: 7px;
	z-index: 1;
	cursor: pointer;
}
/* <div>좋아요 - <div> */
.recent-div8 {
	width: 32px;
	height: 30px;
	margin: 0px auto;
	/* background: url(ma_img/like.svg) center center / cover; */
}

.recent-div8.off {
	background: url(ma_img/like.svg) center center/cover;
}

.recent-div8.on {
	background: url(ma_img/like-on.svg) center center/cover;
}

/* <a> 태그 */
.recent-a {
	display: block;
}

/* 부트스트랩에 마진이 들어가있어서 <a> 부분만 초기화시켜주기 */
.recent-a p {
	margin: 0px;
}

/* 글자에 호버가 들어가서 디버깅해야함 */
/*.recent-a:hover{
                color:;
            }*/

/* <a> 태그 - <div>이미지 */
.recent-a-div {
	width: 100%;
	height: 186px;
	margin-bottom: 12px;
	background-color: rgb(239, 240, 242);
	position: relative;
	border-radius: 3px;
	overflow: hidden;
}

/* body태그에 이미지가 따로들어가있음 주의 @@*/
.recent-a-div:before {
	content: "";
	height: 100%;
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	background: url(ma_img/1.jpeg) center center/cover no-repeat;
}

.recent-a-div:after {
	content: "";
	height: 100%;
	background-color: rgba(0, 0, 0, 0.1);
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
}

/* body태그에 이미지가 따로들어가있음 주의 @@ */
.recent-a-div2:before {
	content: "";
	height: 100%;
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	background: url(ma_img/2.jpeg) center center/cover no-repeat;
}

.recent-a-div2:after {
	content: "";
	height: 100%;
	background-color: rgba(0, 0, 0, 0.1);
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
}

/* <a>태그 - <div>확인매물 박스 */
.recent-a-confirm {
	height: 21px;
	margin-bottom: 3px;
}

.recent-a-confirm span {
	display: inline-block;
	color: rgb(50, 108, 249);
	font-size: 11px;
	white-space: nowrap;
	position: relative;
	bottom: 2px;
}

.bold {
	font-weight: 700;
}

/* <a>태그 - <div>확인매물 박스 - <div>인박스 */
.recent-a-confirm-div {
	display: inline-block;
	height: 21px;
	line-height: 19px;
	vertical-align: top;
	padding: 0px 5px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(168, 193, 252);
	border-image: initial;
	border-radius: 2px;
}

/* <a>태그 - <p>방 종류 */
.recent-a-p1 {
	width: 100%;
	color: rgb(102, 102, 102);
	font-size: 12px;
	font-weight: 300;
	line-height: 20px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

/* <a>태그 - <p>lent방식 / 금액 */
.recent-a-p2 {
	color: rgb(34, 34, 34);
	font-size: 20px;
	font-weight: 700;
	line-height: 25px;
	margin: 3px 0px 6px !important;
}

/* <a>태그 - <p>lent방식 / 금액 - <span> */
.recent-a-p2 span {
	vertical-align: middle;
}

/* <a>태그 - 3th, 4th <p> */
.recent-a-p34 {
	width: 100%;
	color: rgb(102, 102, 102);
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

/* 보지 않은방 */
.recent-div5-vacant {
	float: left;
	width: 280px;
	height: 186px;
	background-color: rgb(251, 251, 252);
	border-width: 1px;
	border-style: dashed;
	border-color: rgb(214, 216, 219);
	border-image: initial;
	border-radius: 3px;
}

.recent-div5-vacant-p {
	color: rgb(148, 152, 160);
	font-size: 14px;
	font-weight: 300;
	line-height: 186px;
	text-align: center;
}



/* ---------------------------------------
/	오른쪽 밑 방찾기 버튼 (btn-searchrm)
---------------------------------------- */
.btn-searchrm{
	width: 170px;
    height: 72px;
    box-shadow: rgba(6, 68, 192, 0.82) 0px 15px 30px -14px;
    background-color: rgb(21, 100, 249);
    position: fixed;
    right: 110px;
    bottom: 30px;
    z-index: 8;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    border-radius: 36px;
    display: none;
}

.btn-searchrm svg {
	position: relative;
    top: 2px;
    right: 2px;
}

.btn-searchrm span {
	margin-left: 5px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.2px;
    position: relative;
    bottom: 2px;
}










/* ---------------------------------------
/ 슬라이더 세팅
---------------------------------------- */

.slider {
        width: 1165px;
        margin: 30px auto;
    }

    .slick-slide {
      margin: 0px 5px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev {
      left: -60px;
      display: none !important;
    }

    .slick-next {
      right: -40px !important;;
    }
    
    .slick-next:before {
      color: black !important;;
    }

    .slick-slide {
      transition: all ease-in-out .5s;
      width: 185px !important;
      /*opacity: .2;*/
    }
    
    /*.slick-active {
      opacity: .5;
    }*/

    .slick-current {
      opacity: 1;
    }

    .slick-dots {
       bottom: -50px !important;
    }





