.box > div {
	border: 1px solid #2d6ca2;
	background: #5bc0de;
	padding: 3px 5px;
}

.box { padding: 0 15px; }

.pink	{ background: #ffc8e3; height: 200px; }
.green	{ background: #0f0; height: 80px; }
.yellow	{ background: #ff0; height: 80px; }
.blue	{ background: #00f; color: #fff; height: 120px; }
.orange	{ background: #f60; height: 200px; }

.box > .space { height: 40px; background: #ff0; padding: 0; }
.height { height: 5px; padding: 0; }

#content .box > div { 
	height: 100px;
	background: #f5f5f5;
}

#footer { padding: 10px 10px; }

h1, h2, h3, h4, h5, h6 { text-align: center; }

#footer a { 
	text-decoration: none;
	color: white;
	border-right: 1px solid white;
}
