@charset "utf-8";

	/* ---------------------------------------
	|	공통 CSS
	----------------------------------------*/


tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}

tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}
	/* ---------------------------------------
	| Modal - <Header>
	----------------------------------------*/

/* 메인박스 */
.mainbox {
	width: 935px;
	margin: 5% auto 5%;
}
/* header */
.height {
	padding: 28px 30px 24px;
	position: relative;
	border-bottom: 1px solid rgb(235, 235, 235);
}

#header h1 {
	font-size: 22px;
	line-height: 30px;
	font-weight: 700;
	text-align: center;
	margin: 0;
	height: 30px;
}
 	/* ---------------------------------------
	| Modal - content
	----------------------------------------*/
/* <content> 가장 큰 박스 */
.content {
	width: 100%;
	background-color: rgb(239, 240, 241);
	padding: 15px 13px;
}

/* 부모 table 설정 */
.tableconfig {
	width: 100%;
	border-collapse: separate;
	border-spacing: 4px 0px;
}
/* 전체 tr */
.tableconfig tr {
	background-color: rgb(255, 255, 255);
}
/* 전체 th */
.tableconfig th {
	height: 46px;
	color: rgb(34, 34, 34);
	font-size: 15px;
	font-weight: 500;
	text-align: left;
	padding: 0px 25px 0px 20px;
	border-bottom: 1px solid rgb(235, 235, 235);
}

/* 전체 td */
.tableconfig td {
	vertical-align: top;
	position: relative;
}
/* clearfix */
.tableconfig td:after {
	display: block;
	content: "";
	clear: both;
}
/* 테이블 사이 상단 줄긋기 */
.tableconfig+table th {
	border-top: 1px solid rgb(204, 204, 204);
}
/* 테이블 사이 호버 기능  */
.tableconfig:hover th, .tableconfig:hover td {
	background-color: rgb(242, 248, 254);
}
/* ---------------------------------------
	/ <Content> 상단 tbody
	----------------------------------------*/
/* 상단 */
.tbody-top-p {
	padding-top: 18px;
	margin-bottom: 14px;
	color: rgb(136, 136, 136);
	font-size: 13px;
	text-align: center;
	line-height: 16px;
}
/* 닫기버튼 */
.bclose {
	width: 9px;
	height: 9px;
	background-color: transparent;
	position: absolute;
	top: 22px;
	right: 14px;
	border-width: 0px;
	border-style: initial;
	border-color: initial;
	border-image: initial;
}
/* 닫기 svg */
.bclose svg {
	position: absolute;
	top: 0px;
	left: 0px;
}
/* 비교 이미지 1, 2, 3*/
.compare-img1 {
	width: 280px;
	height: 186px;
	position: relative;
	margin: 0px auto;
	border-radius: 3px;
	background: url(../../img/ma_img/comp1.jpeg) center center/cover no-repeat
		rgb(239, 240, 241);
}

.compare-img2 {
	width: 280px;
	height: 186px;
	position: relative;
	margin: 0px auto;
	border-radius: 3px;
	background: url(../../img/ma_img/comp2.jpeg) center center/cover no-repeat
		rgb(239, 240, 241);
}

.compare-img3 {
	width: 280px;
	height: 186px;
	position: relative;
	margin: 0px auto;
	border-radius: 3px;
	background: url(../../img/ma_img/comp3.jpeg) center center/cover no-repeat
		rgb(239, 240, 241);
}
/* 이미지 위 여백 */
.tableconfig tr:nth-child(2) td {
	padding-top: 20px;
}
/* tbody p1 */
.room-num {
	margin-top: 10px;
	color: rgb(102, 102, 102);
	font-size: 14px;
	text-align: center;
	line-height: 20px;
}
/* tbody p2 */
.room-price {
	margin-top: 2px;
	padding-bottom: 13px;
	color: rgb(34, 34, 34);
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	line-height: 25px;
}
/* ---------------------------------------
	/ <Content> - table2
	----------------------------------------*/
/* 여백 생성 */
.table2-margin {
	padding: 0px 25px 0px 20px;
}
/* table2 - 가격대, 관리비 - 왼쪽 p */
.table2-price-lp {
	float: left;
	color: rgb(102, 102, 102);
	font-size: 13px;
	line-height: 20px;
	padding: 4px 0px;
}
/* table2 - 가격대, 관리비 - 오른쪽 p */
.table2-price-rp {
	float: right;
	max-width: calc(100% - 60px);
	color: rgb(34, 34, 34);
	font-size: 13px;
	line-height: 20px;
	padding: 4px 0px;
}
/* 오른쪽 p태그 block 처리 */
.table2-price-rp span {
	display: block;
}
/* ---------------------------------------
	/ <Content> - table3
	----------------------------------------*/
/* 3번째 테이블 여백-패딩 */
.table3-padding {
	padding: 0px 25px 0px 20px;
}
/* 상세정보 <p>태그 설정 */
.table3-detail-lp {
	float: left;
	color: rgb(102, 102, 102);
	font-size: 14px;
	line-height: 20px;
	padding: 4px 0px;
}

.table3-detail-rp {
	float: right;
	max-width: calc(100% - 60px);
	color: rgb(34, 34, 34);
	font-size: 14px;
	line-height: 20px;
	padding: 4px 0px;
}
/* ---------------------------------------
	/ <Content> - table4
	----------------------------------------*/
.table4-padding {
	padding: 20px 25px 20px 20px;
}

.table4-option-p {
	display: inline-block;
	height: 28px;
	color: rgb(102, 102, 102);
	font-size: 14px;
	text-align: left;
	line-height: 28px;
}
/* ---------------------------------------
	/ <Content> - table5
	----------------------------------------*/
/* 여백 */
.table5-padding {
	padding: 20px 25px 20px 20px;
}

.table5-option-p {
	height: 28px;
	color: rgb(102, 102, 102);
	font-size: 14px;
	text-align: left;
	line-height: 20px;
	padding: 4px 0;
}
/* 마지막버튼 - 문의하기 - 맨아래 드롭다운 기능 */
.last-contact-td {
	height: 50px;
}

.last-contact-div {
	width: 100%;
	height: 50px;
	background-color: rgb(0, 108, 255);
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 15px;
	transition: height 300ms ease-in-out 0s, background-color 250ms ease-out
		0s;
	overflow: hidden;
}

.last-contact-div>div {
	display: table;
	width: calc(100% - 30px);
	height: 65px;
	position: absolute;
	left: 15px;
	bottom: 50px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.last-contact-div>div>div {
	display: table-cell;
	vertical-align: middle;
}

.last-contact-div>button {
	width: 100%;
	height: 50px;
	color: rgb(255, 255, 255);
	font-size: 15px;
	font-weight: 500;
	background-color: transparent;
	position: absolute;
	left: 0;
	bottom: 0;
	border-width: 0;
	outline: none;
}

/* 클릭했을 때 */
.last-contact-div-open {
	width: 100%;
	height: 115px;
	background-color: rgb(35, 45, 74);
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 15px;
	transition: height 300ms ease-in-out 0s, background-color 250ms ease-out
		0s;
	overflow: hidden;
}

.last-contact-div-open>div {
	display: table;
	width: calc(100% - 30px);
	height: 65px;
	position: absolute;
	left: 15px;
	bottom: 50px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.last-contact-div-open>div>div {
	display: table-cell;
	vertical-align: middle;
}

.last-contact-div-open>button {
	width: 100%;
	height: 50px;
	color: rgb(255, 255, 255);
	font-size: 15px;
	font-weight: 500;
	background-color: transparent;
	position: absolute;
	left: 0;
	bottom: 0;
	border-width: 0;
	outline: none;
}

.last-contact-div-open>div>div>p, .last-contact-div>div>div>p {
	color: rgb(255, 255, 255);
	font-size: 15px;
	text-align: center;
	line-height: 22px;
}
