@charset "utf-8";

body > div { height: 100%; overflow-y: hidden; }

/* 화면 크기에 따른 갤러리와 지도 크기 조정 */
@media (max-width: 1699px) {
     #contentbox .gallery { width: 980px; }
     #contentbox .map-container { left: 980px; }
}

@media (min-width: 1700px) {
     #contentbox .gallery { width: 1240px; }
     #contentbox .map-container { left: 1240px; }
}

 /*---------------------------------
/   content > search (검색, 필터)
----------------------------------------*/
/* 전체 박스 크기 조정 */
#search {
    width: 100%;
    /*min-width: 1200px;*/
    height: 66px;
    box-shadow: 0px 1px 1px #ddd;
    position: relative;
    z-index: 10;
}

/* 검색창 */
#search .searchtab {
    border-right: 1px solid #eee;
    float: left;
    position: relative;
}

#search .searchtab input {
    border: none;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 65px;
    padding: 0 50px 0 30px;
}

/* 검색창 테두리 제거 */
#search .searchtab input:focus {
    outline: none;
}

/* 검색 아이콘 */
#search .searchtab i {
    font-size: 20px;
    color: #666;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#search .searchtab button { display: none; }

/* 필터 */
/* 필터 위치, 여백 */
#search .filters { margin-top: 15.5px; }
#search .filter { margin-left: 10px; }

#search .filter button {
     background-color: #fff;
     border: 1px solid #ddd;
}

#search .filter button span { margin-left: 4px; }

/* 필터 메뉴 크기, 여백 조절 */
#search .filter > div { padding: 25px 30px; }
#search .filter .width1 { width: 250px; }
#search .filter .width2 { width: 400px; }

/* 필터 메뉴 > 필터 이름 */
#search .filter div h1 {
     font-size: 22px;
     line-height: 33px;
     color: #222;
}

/* 필터 메뉴 클릭 시 색 변경 */
#search .btn-group.open .dropdown-toggle {
    box-shadow: none;
    background-color: #006cff;
    color: #fff;
}
#search .btn-group.open .dropdown-toggle .caret { color: #fff; }

/* 체크박스형 필터 */
/* 필터 메뉴 > 중복선택 문구 */
#search .filter div p {
     font-size: 13px;
     line-height: 19px;
     color: #aaa;
     margin-bottom: 15px;
}

/* 필터 메뉴 > 각 항목 크기, 위치 */
#search .filter div li {
     height: 22px;
     position: relative;
     margin-top: 12px;
     cursor: pointer;
}

/* 필터 메뉴 > 각 항목 > 글씨 */
#search .filter .checkText {
     font-size: 15px;
     line-height: 22px;
     margin-left: 32px;
}

#search .filter label {
    display: block;
    height: 22px;
    position: relative;
    cursor: pointer;
    font-weight: normal;
}

/* 체크박스 스타일 */
#search .filter input[type="checkbox"] {
    width: 1px; height: 1px;
    opacity: 0;
    position: absolute;
    top: 0; left: 0;
}

#search .filter input[type="checkbox"] + .checkBox {
    float: left;
    width: 22px; height: 22px;
    background-color: #ffffff;
    position: absolute;
    top: 0px; left: 0px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

/* 체크박스 스타일 - checked */
#search .filter input[type="checkbox"]:checked + .checkBox {
    background-color: #006cff;
    border: 1px solid #006cff;
}

#search .filter input[type="checkbox"]:checked + .checkBox::after {
    content: "";
    display: block;
    width: 47%;
    height: 27%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    transform-origin: 30% 35%;
    border-left: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
}

/* 슬라이드형(range) 필터 */
#search .filter .filter-slide {
     padding: 0 0 30px 0;
     border-bottom: 1px solid #ddd;
}

#search .filter .mar-top { margin-top: 20px; }

/* '무제한' 위치, 색 조정 */
#search .filter .filter-slide p {
     float: right;
     color: rgb(0, 108, 255);
     font-size: 15px;
     font-weight: 300;
     line-height: 30px;
}

#search .filter .filter-slide ul:after {
    content: "";
    display: block;
    clear: both;
    float: none;
}

#search .filter .filter-slide li {
    float: left;
    width: 33.3%;
    margin-top: 5px;
}

/* 필터 최소값, 중간값, 최대값 표시 */
#search .filter .filter-slide li:first-child { padding-left: 7px; }
#search .filter .filter-slide li:nth-child(2) { text-align: center; }
#search .filter .filter-slide li:last-child { text-align: right; }

/* 필터별 조건삭제 버튼 */
#search .filter-reset {
    float: right;
    width: 90px;
    height: 33px;
    line-height: 33px;
    margin-top: 10px;
}

/* 조건삭제 아이콘 */
#search .filter-reset i {
    font-size: 12px;
    margin-right: 5px;
}

/* 전체 초기화 버튼 */
#search .filters-reset {
    float: right;
    font-size: 14px;
    height: 100%;
    line-height: 65px;
    color: #222;
    padding-left: 20px;
    padding-right: 18px;
    border-left: 1px solid #eee;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 0px;
}

/* 초기화 아이콘 */
#search .filters-reset i {
    font-size: 12px;
    color: #999;
    margin-right: 5px;
}


 /*---------------------------------
/   content > contentbox (갤러리, 지도)
----------------------------------------*/
/* 전체 박스 크기 지정 */
#contentbox {
    width: 100%;
    height: 100%;
    min-width: 1200px;
    position: relative;
    /*overflow: hidden;*/
}

 /*---------------------------------
/   갤러리
----------------------------------------*/
#contentbox .gallery {
    float: left;
    height: 100%;
}

/* 갤러리 상단 제목 */
#contentbox .gallery .gallery-header {
    padding-top: 30px;
    padding-bottom: 20px;
    margin: 0 30px;
    border-bottom: 1px solid #eee;
}

#contentbox .gallery .gallery-header span {
    font-size: 22px;
    line-height: 20px;
}

/* 갤러리 전체 박스 */
#contentbox .gallery .gallery-container {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    padding-left: 15px;
    padding-right: 30px;
}

/** 갤러리 전체 박스 하단 패딩 */
#contentbox .gallery .gallery-content {
    padding-bottom: 40px;
}

/*----- 갤러리 내용부분 -----*/
#contentbox .gallery .gallery-content ul {
    display: block;
    padding-top: 20px;
}

#contentbox .gallery .gallery-content li {
    display: inline-block;
    width: 25%;
    float: left;
    padding-left: 15px;
    margin-bottom: 50px;
}

/* 갤러리 개별 박스 시작 */
/*박스전체*/
#contentbox .gallery .gallery-content li .recent-div5{
    width: 100%;
    height: 325px;
    background-color: rgb(255, 255, 255);
    position: relative;
    border-radius: 5px;
}

/* 좋아요를 위한 엄마박스 -relative */
.recent-div6{
    height: 280px;
    position: relative;
}

/* <div>좋아요 자식박스 -absolute */
.recent-div7{
    width: 36px;
    position: absolute;
    top: 3px;
    right: 7px;
    z-index: 1;
    cursor: pointer;
}
/* <div>좋아요 - <div> */
.recent-div8{
    width: 32px;
    height: 30px;
    margin: 0px auto;
    /* background: url(../../img/ma_img/like.svg) center center / cover; */
}

.recent-div8.off{ background: url(../../img/ma_img/like.svg) center center / cover; }
.recent-div8.on{ background: url(../../img/ma_img/like-on.svg) center center / cover; }

/* <a> 태그 */
.recent-a{
    display: block;
}

/* 텍스트 마우스오버 시 발생하는 효과 제거 */
.recent-a:hover{
     text-decoration: none;
}

/* <a> 태그 - <div>이미지 */
.recent-a-div{
     width: 100%;
     height: 186px;
     margin-bottom: 12px;
     background-color: rgb(239, 240, 242);
     position: relative;
     border-radius: 3px;
     overflow: hidden;
}

/* body태그에 이미지가 따로들어가있음 주의 @@*/
.recent-a-div:before {
    content: "";
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    background: url(../../img/ma_img/1.jpeg) center center / cover no-repeat;
}

.recent-a-div:after {
    content: "";
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
}

/* body태그에 이미지가 따로들어가있음 주의 @@ */
/* .recent-a-div2:before {
    content: "";
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    background: url(../../../../../img/ma_img/2.jpeg) center center / cover no-repeat;
} */

.recent-a-div2:after {
    content: "";
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
}

/* <a>태그 - <div>확인매물 박스 */
.recent-a-confirm{
    height: 21px;
    margin-bottom: 3px;
}

.recent-a-confirm span {
    display: inline-block;
    color: rgb(50, 108, 249);
    font-size: 11px;
    white-space: nowrap;
    position: relative;
    bottom: 2px;
}

.bold {
    font-weight: 700;
}

/* <a>태그 - <div>확인매물 박스 - <div>인박스 */
.recent-a-confirm-div{
    display: inline-block;
    height: 21px;
    line-height: 19px;
    vertical-align: top;
    padding: 0px 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(168, 193, 252);
    border-image: initial;
    border-radius: 2px;
}

/* <a>태그 - <p>방 종류 */
.recent-a-p1{
    width: 100%;
    color: rgb(102, 102, 102);
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* <a>태그 - <p>lent방식 / 금액 */
.recent-a-p2{
    color: rgb(34, 34, 34);
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    margin: 3px 0px 6px !important;
}

/* <a>태그 - <p>lent방식 / 금액 - <span> */
.recent-a-p2 span{
    vertical-align: middle;    
}

/* <a>태그 - 3th, 4th <p> */
.recent-a-p34 {
    width: 100%;
    color: rgb(102, 102, 102);
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* 브라우저의 넓이가 1700px 미만일 때의 갤러리 개별 박스와 이미지 크기 조정 */
@media (max-width: 1699px) {
     #contentbox .gallery .gallery-content li .recent-div5 { height: 280px; }
     .recent-a-div { height: 145px; }
}

/* ------갤러리 하단------ */
#contentbox .gallery .gallery-footer {
  padding-top: 40px;
  height: 180px;
  border-top: 1px solid #ddd;
}

#contentbox .gallery .gallery-footer-box {
 width: 100%;
 height: 180px;
}

#contentbox .gallery-index {
     width: 420px;
     height: 32px;
     margin: auto;
}

#contentbox .gallery-index button {
     float: left;
     width: 32px;
     height: 32px;
     background-color: rgb(255, 255, 255);
     position: relative;
     margin: 0px 18px;
     border-width: 1px;
     border-style: solid;
     border-color: rgb(170, 170, 170);
     border-image: initial;
     border-radius: 50%;
}

#contentbox .gallery-index button span {
     display: block;
     text-align: center;
     color: rgb(170, 170, 170);
     font-weight: bold;
}

/* 화살표 위치 조정 */
#contentbox .gallery-index .prev-btn span { margin-right: 2px; }
#contentbox .gallery-index .next-btn span { margin-left: 2px; }

#contentbox .gallery-index .index-list { float: left; }

/* 인덱스 각 버튼 정렬 */
#contentbox .gallery-index .index-list li {
     display: inline-table;
     width: 32px;
     height: 32px;
}

/* 인덱스 각 버튼 스타일*/
#contentbox .gallery-index .index-list li a {
     display: table-cell;
     width: 100%;
     height: 100%;
     font-size: 15px;
     text-align: center;
     vertical-align: middle;
     cursor: pointer;
     border-width: 1px;
     border-style: solid;
     border-color: transparent;
     border-image: initial;
     border-radius: 50%;
}
#contentbox .gallery-index .index-list li .index-indiv {
     color: rgb(20, 118, 252);
}

/* 인덱스 버튼 마우스 오버 */
#contentbox .gallery-index .index-list li .index-indiv:hover {
     border-color: rgb(20, 118, 252);
     text-decoration: none;
}

/* 인덱스 버튼 - 현재 페이지 */
#contentbox .gallery-index .index-list li .index-active {
     color: rgb(255, 255, 255);
     background-color: rgb(20, 118, 252);
     border-color: rgb(20, 118, 252);
     cursor: default;
}

 /*---------------------------------
/   지도
----------------------------------------*/
#contentbox .map-container {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 2;
    overflow: hidden;
}

#contentbox .map {
    width: 100%;
    height: 100%;
}

#contentbox #map {
    width: 100%;
    height: 100%;
}

.gu-marker {
    display: absolute;
}

.gu-marker > div {
    cursor: pointer;
    display: inline-block;
}

.gu-count {
    min-width: 40px;
    height: 40px;
    padding: 5px 11px;
    background: #1476fc;
    border-radius: 40px;
    border: 3px solid #1476fc;
    color: #fff;
    font-size: 17px;
    text-align: center;
    font-weight: bold;
    line-height: 24px;
    position: relative;
    left: 3px;
    z-index: 1;
}

.gu-name {
    min-width: 44px;
    color: #444;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    padding: 6px 12px 6px 15px;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 2px 0px;
    position: relative;
    top: -2px;
    left: -7px;
}

/* 마커와 클러스터러 마우스오버 스타일 */
#map .gu-marker:hover > div {
    background: #fff;
    color: #1476fc;
}

/* 지도 확대/축소 버튼 */
#contentbox .zoom {
    width: 44px;
    height: 82px;
    padding: 1px 6px;
    background-color: #fff;
    z-index: 100;
    position: absolute;
    top: 20px;
    right: 10px;
    border: 1px solid rgba(122, 123, 125, 0.8);
    border-radius: 2px;
}

#contentbox .zoom button {
    width: 100%;
    height: 50%;
    background-color: #fff;
    border: none;
    font-size: 25px;
    color: #676767;
    font-weight: bold;
    text-align: center;
}

#contentbox .zoom button:focus {
    outline: none;
}

#contentbox .zoom button.zoom-out {
    border-top: 1px solid #d6d6d6;
}