@charset "utf-8";
/* ---------------------------------------
 / 전체 페이지 부분
  ---------------------------------------- */

#root {
    background-color: rgb(67, 131, 255);
    background: url("ho_img/cp_architecture.jpg") center center / cover no-repeat;
    background-size: cover;
    width: auto;
}	

/* ---------------------------------------
 / 상단 부분
  ---------------------------------------- */
  
    /* 왼쪽 메뉴 박스 크기 및 위치 설정(absolute) */
.leftf {
    position: absolute;
    left: 215px;
    top: 4px;
}

    /* 왼쪽 메뉴 로고 이미지 설정 */
.navbar>.leftf>a>img {
    width: 65px;
}

    /* 왼쪽 메뉴 텍스트 박스 크기 위치 설정*/
.navbar>.leftf> div {
    position: absolute;
    width: 100px;
    top: 20px;
    left: 80px;
    font-size: 1.3em;
}
    /* 박스 내 a 링크 처리 */
.navbar>.leftf> div > a{
    text-decoration: none;
    color:white;
}
    /* 오른쪽 메뉴 박스 위치 설정 */
.navbar>.pull-right{
    width: 520px;
    padding-top:24px;
}
    /* 오른쪽 메뉴 박스 a링크 설정 */
.navbar>.pull-right>a{
    display: inline-block;
    font-size: 13.7px;
    text-decoration: none;
    color:white;
    font-weight: 700;
    padding: 0 17px;
    
}
    /* 3번째 요소에 대한 텍스트 조정 */
.navbar>.pull-right>a:nth-child(3){
    font-weight: 500;
}

/* ---------------------------------------
 / 본문 부분
  ---------------------------------------- */

      /* body 전체 구성 설정 */
#body {
    min-height: 630px;
    box-sizing: border-box;
    padding-top: 165px;
    text-align: center;
}
    /* 본문 title */
#body>div>h1 {
    box-sizing: border-box;
    vertical-align: bottom;
    display:inline;
    margin: 0px;
    padding: 0px;
    margin-bottom: 7px;
    color: rgb(255, 255, 255);
    font-size: 42px;
    font-weight: 700;
    line-height: bottom;
    letter-spacing: 1px;
    font-style:italic;
    
}
.title>img{
	padding-bottom:25px;
	width: 120px;
}
    /* 본문 description */
#body>div>.desc {
    box-sizing: border-box;
    vertical-align: baseline;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 30px;
}

    /* 링크박스 크기 및 위치 설정(부트스트랩 버튼으로 변경 가능) */
#body>div>.link-sc {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    width: 160px;
    height: 50px;
    margin-top: 31px;
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    box-shadow: rgba(16, 16, 16, 0.18) 0px 8px 19px 0px;
    background-color: rgb(81, 136, 244);
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 5px;
}

