@charset "utf-8";

/* ------------------------------------------
|   host_공실관리
------------------------------------------- */

/* 전체박스 1 #root */
body, #root {
    height: 100%;
}

/* 전체박스 2 .box */
.box {
    width: 100%;
    min-width: 1440px;
}


/* ------------------------------------------
|   Content
------------------------------------------- */
    /* 콘텐츠 전체 박스 */
    .content-box {
        width: 1080px;
        padding-top: 74px;
        margin: 0px auto;
    }

    /* 글자 박스 */
    .title-box {
        height: 40px;
        margin-top: 70px;
    }

    /* "공실관리" 글자 */
    .title-h1 {
        color: #222222;
        font-size: 40px;
    }

    /* 몇 건의 공실이 있습니다 전체박스 */
    .isroom-div {
        position: relative;
        margin-top: 30px;
        height: 41px;
        padding: 7px 0px;
    }

    .isroom-p1 {
        float: left;
        height: 26px;
        font-size: 16px;
        font-weight: 700;
        line-height: 26px;
        color: rgb(102, 102, 102);
    }

    .isroom-p1 > span {
        color: rgb(67, 131, 255);
    }

    .isroom-p2 {
        float: right;
        margin-right: 145px;
        font-size: 16px;
        line-height: 26px;
        color: rgb(102, 102, 102);
    }

    

    /*  */
    .isroom-div select {
        position: absolute;
        top: 10px;
        right: 0px;
    }

    /*  */
    .isroom-dropdown-closed li {
        display: none;
    }

    .isroom-dropdown-closed li:first-child {
        display: block;
    }

    .isroom-dropdown-opened svg, .isroom-dropdown-closed svg {
    position: absolute;
    top: 50%;
    right: 15px;	
    transform: translateY(-50%);
}

	/* dropdown closed */
    .isroom-dropdown-closed {
        z-index: 10;
        user-select: none;
        width: 135px;
        background-color: rgb(255, 255, 255);
        color: rgb(102, 102, 102);
        font-size: 15px;
        line-height: 20px;
        position: relative;
        cursor: pointer;
        padding: 10px 0px 10px 15px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(211, 211, 211);
        border-image: initial;
        border-radius: 3px;
    }

    /* dropdown opened */
    .isroom-dropdown-opened {
        z-index: 10;
        user-select: none;
        width: 135px;
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(211, 211, 211);
        border-image: initial;
        border-radius: 3px;
    }

    .isroom-dropdown-opened li {
    height: 50px;
        color: rgb(102, 102, 102);
        font-size: 15px;
        line-height: 20px;
        position: relative;
        cursor: pointer;
        padding: 10px 0px 10px 15px;
    }

    .isroom-dropdown-li {
        font-weight: 700 !important;
        color: rgb(67, 131, 255) !important;
    }

    .isroom-dropdown-li2 {
        font-weight: 400;
        color: rgb(102, 102, 102);
    }

/* ------------------------------------------
|   table settings
------------------------------------------- */
	
	/* 테이블 담는 박스 */
    .container {
        margin-top: 30px;
        width: 1080px;
        padding: 0;
    }
	
 	th {
 		background-color: #F8F8F8;
 		border-top: 1px solid #000 !important;
 	}
 	
 	
	/* td 세로 정렬하기 */
    td { 
        vertical-align: middle !important;
    }
    
    tr:last-child {
    	border-bottom: 1px solid #000;
    }
	
	/*  */
    .table-span1 {
        color : rgb(41, 128, 185);
        font-size: 17px;
        font-weight: 550;
    }
	
	/*  */
    .table-span1-1 {
        color: #333333;
        font-size: 17px;
        font-weight: 550;
    }

    .table-span2{
        color: #333333;
        font-size: 12px;
    }

    .table-div > span {
        margin-left: 25px; 
    }


	.margin-bottom {
		margin-bottom: 80px;
	}
	
	.btn {
		
	}
	
	.changemode {
		display: block;
		width: auto;
	}
	
	
/* ------------------------------------------
|   Modal
------------------------------------------- */
	
	/* 모달창 위치 지정 */
	.modal-dialog {
		width: 420px;
		margin: 15% auto 0;
	}
	
	/* 내부전체박스 */
	.modal-whole-chmode {
		width: 420px;
	}
	
	/* 모달창 타이틀 */
	.chmode-title {
		width: auto;
		height: 60px;
		line-height: 60px;
		text-align: center;
		font-size: 19px;
		font-weight: 550;
	}
	
	/* 맨 아래 여백 */
	.chmode-div:last-child {
		margin-bottom: 30px;
	}
	
	/* 내부 div 박스 - 한줄 */
	.chmode-div {
		height: 50px;
		margin-top: 10px;
	}
	
	/* a태그 선택가능하도록 만들기 */
	.chmode-div > a {
			display: block;
			width: auto;
			height: 50px;
			cursor: pointer;
			
	}
	
	
	/* 한줄로 만들기 */
	.chmode-div span, .chmode-div p {
		display: block;
		float: left;
		
	}
		
	/* 왼쪽 네모 */
	.chmode-div span {
		width: 65px;
		height: 25px;
		line-height: 25px;
		margin: 12.5px 14px 12.5px 40px;
		background-color: rgb(52, 152, 219);
		text-align: center;
		font-size: 13px;
		color: white;
		border-radius: 5px;
	}
	
	/* 오른쪽 글씨 */
	.chmode-div p{
		line-height: 50px;
		color: #222;
	}
